@use '../abstracts/mixins' as *;
@use '../base/costum-properties' as *;

.flag-full {
    height: 90vw;
    margin-bottom: 20px;
    max-height: 400px;
    max-width: 500px;
    width: 90vw;
}

.country-card-full-display {
    align-items: center;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    max-width: 500px;
    width: 90vw;
}

.info-container {
    display: flex;
    flex-direction: column;
}

.infos {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.infos > ul {
    list-style: none;
    margin-bottom: 40px;
}

li {
    margin-bottom: 5px;
}

ul > li.country-name-text {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.country-specs-title {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 10px;
}

.borders > span {
    display: block;
    margin-bottom: 10px;
}

@include media(large) {
    .country-card-full-display {
        justify-content: center;
        max-width: 1200px;
    }

    .info-container {
        flex-direction: row;
        width: 100%;
    }

    .infos {
        align-items: center;
        flex-direction: row;
        padding-bottom: 80px;

        & > ul:first-child {
            margin-right: 50px;
            margin-top: -5px;
        }
    }

    .flag-full {
        animation: animate-flag 500ms ease 1 normal backwards;
        margin-right: 20px;
    }

    .borders {
        bottom: 60px;
        height: 50px;
        position: absolute;
        width: 100%;

        & > span {
            display: inline-block;
        }
    }
}

@keyframes animate-flag {
    from {
        filter: blur(10px);
        opacity: 0;
        transform: translate(-3000px);
    }

    to {
        filter: blur(0);
        opacity: 1;
        transform: translate(0);
    }
}
