@use '../abstracts/mixins' as *;
@use '../base/costum-properties' as *;

// the width of the country filter is the same as the button
// I looked in the broweser devtools to take it;

.country-filter {
    padding-bottom: 20px;
    position: relative;
    width: 175px;
}
@include media(medium) {
     .country-filter {
        padding-bottom: 0;
     }
}

.regions {
    @include shaping(100%, auto);

    align-items: center;
    background-color: var(--elements-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
    position: absolute;
    top: 50px;

    & > * {
        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }

        &.active {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }

    &.isclosed {
        display: none;
    }
}
