@use '../abstracts/mixins' as *;
@use '../base/costum-properties' as *;

.country-card {
    @include shaping(250px, auto);

    background-color: var(--elements-bg-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 12px;
    flex: 1 0 auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    min-height: 300px;
    opacity: 0;
    padding-top: 0;
    text-align: left;

    ul > li {
        justify-content: space-around;
        list-style: none;
        width: 100%;
        
        &:first-child {
            margin-bottom: 10px;
        }

        & > span:first-child {
            margin-right: 5px;
        }
    }

    & > *:not(:first-child) {
        margin-top: 3px;
        padding-left: 10px;
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    &:focus {
        box-shadow: rgba(240, 46, 170, 0.4) 0 5px,
            rgba(240, 46, 170, 0.3) 0 10px, rgba(240, 46, 170, 0.2) 0 15px,
            rgba(240, 46, 170, 0.1) 0 20px, rgba(240, 46, 170, 0.05) 0 25px;
    }
}

.flag {
    border-radius: 5px 5px 0 0;
    height: 100px;
    object-fit: cover;
    width: 100%;
}

@supports (display: grid) {
    .country-card {
        margin-left: 0;
        margin-right: 0;
        max-width: none;
        width: auto;
    }
}
