@use '../abstracts/mixins' as *;
@use '../base/costum-properties' as *;

.header {
    background-color: var(--elements-bg-color);
    height: 50px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
    @include flexy;

    &__sub-container {
        @include flexy;

        margin: 0 auto;
        max-width: 1200px;
        width: 90vw;
    }
}

@include media(medium) {
    .header {
        height: 70px;
    }
}
