@use '../abstracts/mixins' as *;

.search-and-filter-container {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    max-width: 1220px;
    min-height: 100px;
    padding: 10px;
    position: fixed;
    top: 50px;
    width: 100vw;
    z-index: 1;
}

@include media(medium) {
    .search-and-filter-container {
        align-items: flex-end;
        flex-direction: row;
        justify-content: space-between;
        left: 50%;
        min-height: 150px;
        top: 70px;
        transform: translateX(-50%);
        width: 95vw;
        
    }
}